body {
	background: #fcf5bf;
	font-family: 'Lora', serif;
}

.wrapper {
	width: 90%;
	max-width: 1200px;
	margin: 0 auto;
	padding: 20px;

}

h1, h2 {
	font-family: 'Montserrat', sans-serif;
	font-weight: 400;
	

}

h1 {
	color: #9fe5c2;
	font-size: 70px;
	letter-spacing: -5px;
	margin: 0;
	padding: 0;
}

h2 {
	color: #cfca42 ;
	line-height: 1px;
}

p {
	color: #1b1d26;
	padding-bottom: 20px;
}